@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: #eeebe3;
    justify-content: center;
    min-height: 100vh;
}

/* title */
.title-container {
    padding: 150px 10%;
    padding-bottom: 15px;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 60px;
}

.dot {
    color: red;
}

a {
   text-decoration: none; 
   color: black;
}



/*-------------- content------------ */
.container {
    height: auto;
    width: 600px;
    background-color: #f1eee8;
    border-radius: 2%;
    padding: 25px 5%;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.content img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

.p-content {
    margin-bottom: 20px;
}

ul li {
    list-style: none;
    padding: 3px;
}

/* -----------nav--------------- */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}

.nav-menu {
    flex: 1;
    text-align: right;
}

.nav-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
}

.nav-menu ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ff6666;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-menu ul li:hover::after {
    width: 100%;
}

/*card content*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.card-container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}

.card-container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #eeebe3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.card-container .card:hover .box {
    transform: translateY(-50px);
    background: #ff0051a4;
}

.card-container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.06);
    transition: 0.5s;
    pointer-events: none;
}

.card-container .card:hover .box .content h2 {
    color: rgba(0,0,0,0.05);
    
}

.card-container .card .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    padding: 10px;
}

.card-container .card:hover .box .content h3 {
    color: #fff;
}


.card-container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    padding: 10px;
}

.card-container .card:hover .box .content p {
    color: #fff;
}

/* contact */
.contact-left {
    flex-basis: 35%;
    padding: 10px 10%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-left p {
    margin-top: 10px;
}

.contact-left h1 {
    text-align: center;
    margin-top: 10px;
    margin: auto;
    font-size: 40px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}

.contact-title {
    text-align: center;
    margin-bottom: 50px;
}
/*Social*/
.wrapper {
    height: 100px;
    width: 300px;
    margin: auto;
    text-decoration: none;
    justify-content: center;
}
.button {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0px 5px 0px 5px;
    overflow: hidden;
    background: #f1eee8;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    float: none;
    text-decoration: none;
    color: black;
}

.wrapper .button .icon {
    display: inline-block;
    height: 300px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
    text-align: center;
    text-decoration: none;
}



.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    text-decoration: none;
}


.wrapper .button:hover{
    transform: translateY(-10px);
}

/*footer*/
.footer {
    left: 0;
    bottom: 0;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #ff004f;
    font-family: 'Prompt', sans-serif;
    color: #fff;
}





